<% form_for @game do |f| %>
<div style="float:left">
<%= f.label 'Take your gesture:' %>
  <% f.fields_for :user_gesture,@gesture do |g| %>
    <%= g.select :gesture_type, Gesture::GESTURE_TYPE_LABELS.map { |k,v| [v,k] }%>
  <% end %>
</div>
<% content_tag :button, :type => 'submit', :class => 'button rect_button', :style => 'float:left;margin-left:5px' do %>
  <span>Play</span>
  <%end%>
<% end %>
